{% extends 'basic.html' %}


{% block title %}
add_book
{% endblock %}

{% block content %}
<div class="forms-wrapper">
    <div class="form-container-book form-container">
        <form action="#toast" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ formB.as_p }}
            <input type="submit" value="Зарегистрировать" name="add_book" class="button_dr">
        </form>
        {% if formB.errors %}
        {% else %}
            <div id="toast" class="toast">Книга зарегистрирована</div>
        {% endif %}
    </div>
    <div class="form-container-genre">
        <p>Новый жанр</p>
        <form action="" method="POST">
            {% csrf_token %}
            {{ formG.as_p }}
            <input type="submit" value="Добавить" name="add_genre" class="button_genre">
        </form>
    </div>
 </div>
{% endblock %}
