<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}BookLib{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <a href="{% url 'main' %}"><img src="{% static 'image/logo5.png' %}" alt="Логотип" class="logo"></a>
    </header>
    <div class="content">
        <div class="sidebar">
        <div class="button_container">
            <a href="{% url 'main' %}"  class="button-link">Начальная страница</a>
            <a href="{% url 'new_book' %}"  class="button-link" >Регистрация книги</a>
            <a href="{% url 'new_person' %}"  class="button-link" >Регистрация читателя</a>
            <a href="{% url 'give_book' %}"  class="button-link" >Выдача книги</a>
            <a href="{% url 'return_book' %}"  class="button-link" >Возврат книги</a>
            <form action="" method="POST">
                {% csrf_token %}
                <button type="submit" name="logout_button" class="button-link" style="background: #95735A;">Выйти из профиля</button>
            </form>
        </div>
        <!-- Вертикальный рейтинг -->
        {% if show_rating and list_books %}
        <div class="rating-list">
            <p style="text-align: center; font-weight: bold; font-size: 18px; color: #2C4058;">Топ популярных книг</p>
            {% for count, book in list_books %}
            <div class="rating-item">
                {% with book.fotoregistr_set.all as photos %}
                {% if photos %}
                    <img src="{{ photos.0.photo_book.url }}" alt="{{ book.title_rus }}" class="rating-photo">
                {% else %}
                    <div class="rating-photo placeholder">Нет фото</div>
                {% endif %}
                {% endwith %}
                <div class="rating-info">
                    <p class="book-title">{{ book.title_rus }}</p>
                    <!-- Звезды рейтинга -->
                        <div class="rating-stars">
                            {% for _ in "12345" %}
                                {% if forloop.counter <= book.rating %}
                                    <span class="star filled">&#9733;</span>
                                {% else %}
                                    <span class="star">&#9734;</span>
                                {% endif %}
                            {% endfor %}
                        </div>
                    <p>Прочитали: {{ count }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}
   </div>
<!--Основной контент страницы -->
         <div class="main-content">
            {% block content %}{% endblock %}
        </div>
    </div>
</body>
</html>