{% extends 'basic.html'%}
{% load static %}

{% block title %}Выдача книги{% endblock %}

{% block content %}
<div class="form-container">
<form  action="#toast" method="POST">
    {% csrf_token %}
    <br>
    <label for="person">Читатель</label>
    <select id="person" name="person">
        {% for person in persons %}
        <option value="{{ person.id }}">{{ person }}</option>
        {% endfor %}
    </select><br><br>
    {% for i in "12345" %}
    <label for="book_{{ i }}">Книга{{ i }}</label>
    <select id="book_{{ i }}" name="book_{{ i }}" class="book-select">
        <option value="">--Выберите книгу--</option>
        {% for book in books %}
        <option value="{{ book.id }}">{{ book }}</option>
        {% endfor %}
    </select>
    <label for="bookobj_{{ i }}">Регистрационный номер</label>
    <select id="bookobj_{{ i }}" name="bookobj_{{ i }}" disable>
        <option value="">--номер--</option>
    </select><br><br>

    {% endfor %}
    <label for="quantity_books">Количество книг</label>
    <input id="quantity_books" name="quantity_books" value="" readonly><br><br>
    <label for="pre_return_date">Предварительная дата возврата</label>
    <input type="date" id="pre_return_date" name="pre_return_date" required><br><br>
    <label for="pre_cost" >Предварительная стоимость</label>
    <input type="number" id="pre_cost" name="pre_cost" value="" step="any" readonly> <br><br>
    <input type="submit" valuer="Зарегистрировать" name="give_book" class="button-submit">
</form>
<div id="toast" class="toast">Выдача зарегистрирована</div>
</div>
<script src="{% static 'js/formO.js' %}"></script>
<script>
     const getBookObjUrl = "{% url 'get_bookobj' %}";
</script>
{% endblock %}