{% extends 'basic.html' %}
{% load static %}

{% block title %}Список книг{% endblock %}
{% block content %}

<!-- Форма фильтрации -->
<form method="get" style="margin-bottom:20px; display:flex; gap:10px; align-items:center;">
    <input type="text" name="title" placeholder="Название книги" value="{{ query_title }}">
    <input type="text" name="author" placeholder="Автор" value="{{ query_author }}">
    <input type="text" name="genre" placeholder="Жанр" value="{{ query_genre }}">
    <input type="text" name="year" placeholder="Год" value="{{ query_year }}">
    <button type="submit" class="button_dr" style="width: 150px; background-color: #557A95;">Фильтровать</button>
    <a href="{% url 'main' %}" class="button_dr" style="width: 100px; text-decoration: none; background-color: #95735A;">Сбросить</a>
</form>

<div class="table-wrapper">
    <table class="styled-table" >
        <thead>
            <tr>
                <th>Фото</th>
                <th>Название</th>
                <th>Авторы</th>
                <th>Жанр</th>
                <th>Год</th>
                <th>Общее количество</th>
                <th>Доступное количество</th>
            </tr>
        </thead>
        <tbody>
            {% for book in books %}
            <tr>
                <td>{% with book.fotoregistr_set.all as photos %}
                        {% if photos %}
                            <img src="{{ photos.0.photo_book.url }}" alt="{{ book.title_rus }}" >
                        {% else %}
                            Нет изображения
                        {% endif %}
                        {% endwith %}
                </td>
                <td>{{ book.title_rus }}</td>
                <td>{% for author in book.author_set.all %}{{ author.name }}<br> {% endfor %}</td>
                <td>{% for genre in book.genres.all %}{{ genre.name_genre }}<br>{% endfor %}</td>
                <td>{{ book.year }}</td>
                <td>{{ book.general_quantity }}</td>
                <td>{{ book.current_quantity }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}