{% extends 'basic.html' %}
{% load static %}

{% block title %}
Возврат книг
{% endblock %}

{% block content %}
<div  class="form-container-book">
    <form action="" method="POST">
    {% csrf_token %}
    {{formR1.as_p}}
    <input type="submit" name="data_books" class="button-submit" value="Загрузить книги">
</form>

<form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{formR2.as_p}}
    <p style="color:red">{% if error %}{{ error }}{% endif %}</p>
    <input type="submit" name="calculate" class="button-submit" value="Оформить возврат">
</form>
    <p>Стоимость возврата: </p><br>
    <p>{% if return_cost == 0 %} 0 BYN {% else %}  {{ return_cost }}BYN {% endif %}</p><br>
    <form action="" method="POST">
        {% csrf_token %}
<input type="submit" name="return" class="button-submit" value="Завершить работу">
</form >

</div>

{% endblock %}